*{
	margin: 0;
}
body{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* background-color: #9A2433; */
}
.Header_container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0em 4em;
	background-color: #408080;
	height: 10%;
}
.left_part_of_Header_container{
	background: url("../../CSS/Images/plannedSchedule.png");
	width: 10%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.left_part_of_Header_container span{
	font-weight: bold;
}
.middle_part_of_Header_container{
	font-size: 4em;
	font-weight: bold;
}
.logout{
	text-decoration: none;
	background-color: gray;
	font-size: 2em;
	border-radius: 5px;
	color: white;
	padding: 0.3em;
	cursor: pointer;
}
.all_activities_main_container{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: salmon;
}
.all_activities_child_container{
	width: 60%; 
}
.activity_container{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0.5em 0;
	border: 2px solid black;
}
.timer_container{
	padding: 10px;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	border-right: 2px solid black;
	font-weight: bold;
	background-color: #E84A5F;
}
.timer_container.absolute{
	position: absolute;
	top:0;
	padding: 0;
	left: 0;
	justify-content: center;
}
.activity_type{
	width: 79.9%;
	height: 100%;
	padding: 0.5em 0;
	background-color: #EDE574;
}
.activity_type.translate{
	transform: translateX(25.2%);
}
.activity_type.absolute{
	position: absolute;
	top:0;
	padding: 0;
	right: 0;
	width: 77.7%;
}
.activity_type h1{
	border-bottom: 2px solid black;
	text-align: center;
}
.delete_button{
	position: absolute;
	top: 0;
	right: 0;
	height: 50%;
	width: 10%;
	background: url("Images/bin.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
@media screen and (max-width: 550px) {
	body{
		font-size: 1em;
	}
	.Header_container{
	padding: 0 0.3em;
	}
	.left_part_of_Header_container{
	font-size: 1em;
	}
	.middle_part_of_Header_container{
	font-size: 2em;
	}
	.logout{
		font-size: 1em;
		border-radius: 3px;
		padding: 0.2em;
	}
	.all_activities_child_container{
		width: 98%; 
	}
}