*{
	margin: 0;
}
body{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.Header_container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 4em;
	background-color: #408080;
}
.left_part_of_Header_container{
	width: 10%;
	font-size: 2em;
}
.left_part_of_Header_container span{
	font-weight: bold;
}
.middle_part_of_Header_container{
	font-size: 4em;
	font-weight: bold;
}
.logout{
	text-decoration: none;
	background-color: gray;
	font-size: 2em;
	border-radius: 5px;
	color: white;
	padding: 0.3em;
}
.common_sheet_container,
.common_sheet_container_header,
.common_sheet_container_header form,
.graph_container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.compare_sheets_container{
	padding: 1em 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.common_sheet_container{
	margin: 0 2.5%;
	width: 45%;
}
.common_sheet_container{
	background-color: #ff8000;
	padding-bottom: 1em;
}
.graph_container{
	flex-direction: row;
	height: 20em;
	width: 80%;
	margin: 1em 0;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	position: relative;
}
.month_graph_0{
	position: absolute;
	bottom: 0%;
	left: -5%;
}
.month_graph_25{
	position: absolute;
	bottom: 25%;
	left: -5%;
}
.month_graph_50{
	position: absolute;
	bottom: 50%;
	left: -5%;
}
.month_graph_75{
	position: absolute;
	bottom: 75%;
	left: -5%;
}
.month_graph_100{
	position: absolute;
	bottom: 100%;
	left: -5%;
}
.common_graph_block{
	width: 25%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: space-around;
}
.grpah_item_entity{
	position: absolute;
	bottom: -7%;
}
.common_bar{
	width: 40%;
	height: 100%;
	position: absolute;
	bottom: 0;
	color: white;
}
.common_bar span{
	position: absolute;
	top: -1.2em;
	width: 100%;
	text-align: center;
}
.month_blue_bar{
	background-color: blue;
	left: 10%;
}
.month_blue_bar span{
	color: blue;
}
.month_red_bar span{
	color: red;
}
.month_red_bar{
	background-color: red;
	right: 10%;
}
.common_sheet_container_header{
	width: 100%;
	border-bottom: 2px solid white;
	margin: 1em 0;
}
.common_sheet_container_header h2{
	width: 100%;
	text-align: center;
	border-bottom: 2px solid white;
	padding-bottom: 1em;
}
.common_sheet_container_header form{
	padding: 1em 0;
	width: 100%;
}
.common_sheet_container_header form button{
	padding: 5px;
	border: none;
	border-radius: 3px;
	background-color: #408080;
	color: white;
}
@media screen and (max-width: 550px) {
	body{
		font-size: 1em;
	}
	.Header_container{
	padding: 0.3em;
	}
	.left_part_of_Header_container{
	font-size: 1em;
	}
	.middle_part_of_Header_container{
	font-size: 2em;
	}
	.logout{
		font-size: 1em;
		border-radius: 3px;
		padding: 0.2em;
	}
	
	.compare_sheets_container{
		padding: 2em 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
	}
	.common_sheet_container{
			margin: 1% 2.5%;
			width: 95%;
	}
	.month_graph_0{
		position: absolute;
		bottom: 0%;
		left: -8%;
	}
	.month_graph_25{
		position: absolute;
		bottom: 25%;
		left: -8%;
	}
	.month_graph_50{
		position: absolute;
		bottom: 50%;
		left: -8%;
	}
	.month_graph_75{
		position: absolute;
		bottom: 75%;
		left: -8%;
	}
	.month_graph_100{
		position: absolute;
		bottom: 100%;
		left: -9%;
	}
}